.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items:center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-right: 30px;
}
button:hover {
    opacity: 90%;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    text-indent: 50px;
    vertical-align: middle;
}

.amenities {
    height: 100%;
    width: 25%;
    flex-grow:1;
    padding-left: 50px;
    vertical-align: middle;

}


h3 {
    font-weight: 600;
    color:black;
    line-height: 0;
    padding-top: 10px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    color: black;
    line-height: 0;

}

.hide{
    display: none;

}
