.places-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
article:hover{
    box-shadow: 0 0 20px rgba(33,33,33,.2); 
}

.top-article{
    display: flex;
    justify-content: right;
}
.price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    vertical-align: text-top;
    padding: 20px 10px 0px 10px;
    margin-bottom: 20px;
    margin-top: -50px;
}
.information{
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 0px 30px;
    align-items:center;

}
.max_guest{
    width: 100px;
}
.number_rooms{
    width: 100px;
}
.number_bathrooms{
    width: 100px;
}
.user{
    line-height: 40px;
}
.description{
    line-height: 20px;
}

.guests-pic{
    padding-left: 2px;
    content:url(file:///home/blessed/Holberton_School/Hbnb/CodeSlayerFork/AirBnB_clone/web_static/images/icon_group.png);
}
.rooms-pic{
    padding-left: 10px;
    content:url(file:///home/blessed/Holberton_School/Hbnb/CodeSlayerFork/AirBnB_clone/web_static/images/icon_bed.png);
}
.bathrooms-pic{
    padding-left: 10px;
    content:url(file:///home/blessed/Holberton_School/Hbnb/CodeSlayerFork/AirBnB_clone/web_static/images/icon_bath.png);
}



h1{
    font-size: 30px;
    text-align: left;
    vertical-align: text-top;
}
.places h2 {
    font-size: 30px;
    text-align: center;
}